<% include blocks/header.ejs %>
    <% spdaxem.forEach(function (value) { %>
        <h1><%=value %></h1>
    <% }); %>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <% dataShop.sieuthi.forEach(function (item) { %>
        <% if(item.trangthai == true && spdaxem.indexOf(item.stt) != -1) { %>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="storage/<%= item.hinh %>" alt="">
                <div class="caption">
                    <h4 class="pull-right">
                        <%= format_currency(item.gia) %>
                    </h4>
                    <h4>
                        <a href="/detail/<%= item.stt %>"><%= item.ten %></a>
                    </h4>
                </div>
            </div>
        </div>
        <% } %>
        <% }); %>
    </div>
</div>
<!-- /.container -->
<% include blocks/footer.ejs %>